@import "../../constants.scss";

.main-tab {
  $logo-radius: 60px;

  text-align: center;
  .app-logo {
    height: $logo-radius;
    width: $logo-radius;
    margin: 24px auto 12px;
    position: relative;
  }

  p {
    text-align: center;
    padding: 0 $padding;
    line-height: 21px;
    font-size: $main-text-size;
    color: $main-text-color;
  }

  .main-cta-btn {
    width: 180px;
  }

  .main-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
